<section id="about">
  <div class="row">
    <div class="col-3"></div>
    <div
      class="col-6 step"
      data-step="about"
      data-lon="-45"
      data-lat="30"
      data-zoom="2"
    >
      <header>
        <h2 class="center">About</h2>
        <p>Text about the project goes here.</p>
      </header>

      <p>A list of participants go here.</p>

      <ul>
        {% for person in site.data.people %}
        <li>
          <a href="{{ person.url }}">{{ person.name }}, {{ person.role }}</a>
        </li>
        {% endfor %}
      </ul>

      {% include footer.html %}
    </div>
  </div>
</section>
