<section id="about">
  <div class="row">
    <div class="col-3"></div>
    <div
      class="col-6 step"
      data-step="about"
      data-lon="-45"
      data-lat="30"
      data-zoom="2"
    >
      <header>
        <h2 class="center">About</h2>
      </header>

      <p>Many of humanity's most challenging issues are shaped by cross-border forces. To address, and report on, these issues, <em>collaboration</em> is critical.</p>

      <p>That is why the <strong>University of Miami</strong> and the <strong>University of Navarra</strong> came together to create the "Covering Global Issues in Miami" course.</p>

      <p>This team-taught class guided students on an intellectual and experiential journey of investigation, discovery and learning about grounded globalization and how it should be communicated.</p>

      <p class="center routes-title">
        <small>
          The globe shows where our
          <span style="color: var(--primary-100)">students</span> and
          <span style="color: var(--secondary-100)">faculty</span> have lived.
          <br />
          Those are the paths that led us here, to Miami.
        </small>
      </p>
      <!--
        <p>
        Fortified with this knowledge, students practiced their technical and
        critical storytelling skills through collaborative, multimedia
        journalism projects that have the potential to facilitate wider
        understanding and action.
        </p>
      -->

      <h3><span class="legend students">•</span> Students</h3>

      <!-- prettier-ignore -->
      <ul class="students">
        {% for row in site.data.participants %}

          {% assign name = row["Full Name"] %}
          {% assign role = row["Role"] %}

          {% if role == "Student" %}
          <li data-id="{{ name || slugify }}">
            {{ name }}
          </li>
          {% endif %}

        {% endfor %}
      </ul>

      <h3><span class="legend faculty">•</span>Faculty</h3>

      <!-- prettier-ignore -->
      <ul class="faculty">
        {% for row in site.data.participants %}

          {% assign name = row["Full Name"] %}
          {% assign role = row["Role"] %}
          {% assign position = row["Position"] %}

          {% if role == "Faculty" %}
          <li data-id="{{ name || slugify }}">
            {{ name }}, <span class="details">{{ position }}</span>
          </li>
          {% endif %}

        {% endfor %}
      </ul>

      <div class="guests-container">
        <h4>Special Thanks</h4>

        <p>Our deepest gratitude to all the guest speakers, researchers, journalists, and organizations that helped students navigate complex topics.</p>

        <!-- prettier-ignore -->
        <ul class="guests">
          {% for row in site.data.guests %}

            {% assign name = row["Full Name"] %}

            <li>
              {{ name }}
            </li>

          {% endfor %}
        </ul>
      </div>

      {% include footer.html %}
    </div>
  </div>
</section>
