<!-- prettier-ignore -->

<script>
  const participants = [

  {% for row in site.data.participants %}

    {% assign name = row["Full Name"] %}
    {% assign coordinates = row["Coordinates (lon,lat)"] %}
    {% assign role = row["Role"] %}

    {
      type: "geojson",
      data: {
        type: "Feature",
        properties: {
          id: "{{ name || slugify }}",
          name: "{{ name }}",
          role: "{{ role }}",
        },
        geometry: {
          type: "LineString",
          coordinates: {{ coordinates }},
        },
      },
    },
    
  {% endfor %}

  ];
</script>
