<!-- prettier-ignore -->

<script>
  const participants = [

  {% for row in site.data.participants %}

    {% assign name = row["Full Name"] %}
    {% assign coordinates = row["Coords"] %}
    {% assign role = row["Role"] %}

    {% if coordinates %}

      {
        type: "geojson",
        data: {
          type: "Feature",
          properties: {
            id: "{{ name || slugify }}",
            name: "{{ name }}",
            role: "{{ role }}",
          },
          geometry: {
            type: "LineString",
            coordinates: {{ coordinates }},
          },
        },
      },

    {% endif %}
    
  {% endfor %}

  ];
</script>
