<!-- prettier-ignore -->

<section id="stories">

  <header>
    <div class="row">
      <div class="col-3"></div>
      <div class="step col-6" data-step="" data-lon="-80.1989621" data-lat="25.7755419" data-zoom="11">
        <h2 class="center">Stories</h2>
        <p>From gentrification and housing crisis to climate change responses and immigrant incorporation, here you will find {{ site.posts | size }} news stories, produced during the summer of 2023, that amplify local voices, while seeking to deepen our understanding and empathy.</p>  
      </div>
    </div>
  </header>

  {% for post in site.posts %}
    {% if page.url != post.url %}
    <div class="row">
      <div class="col-12 step" data-step="" data-lon="{{ post.lon }}" data-lat="{{ post.lat }}" data-zoom="14">
        <a href="{{ post.url }}">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
              <img src="{{ post.cover }}" alt="{{ post.alt }}">
            </div>
            <div class="col-6">
              <h3>{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}</h3>
              {{ post.lede | markdownify }}
              <div class="button">
                Read ↗
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}

</section>
