#about {
  position: relative;
  z-index: 1;
}

#about ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#about ul.students,
#about ul.guests {
  column-count: 3;
}

#about li {
  border-top: 0px solid;
  break-inside: avoid;
  padding: 12px 0;
}

#about ul.faculty span {
  font-variant: small-caps;
  opacity: 0.75;
  text-transform: lowercase;
}

#about h3 {
  align-items: center;
  display: flex;
  font-variant: small-caps;
  opacity: 0.75;
  text-transform: lowercase;
}

#about h4 {
  margin-top: 12px;
}

.legend {
  font-weight: normal;
  margin-right: 0.1em;
}

.legend.students {
  color: var(--primary-100);
}

.legend.faculty {
  color: var(--secondary-100);
}

.guests-container {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2em;
  border-radius: 3px;
  margin: 4em 0;
}
