#about {
  position: relative;
  z-index: 1;
}

#about ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#about ul.students,
#about ul.guests {
  column-count: 3;
  column-gap: 0;
}

#about ul.faculty li {
  width: fit-content;
}

#about li {
  border-top: 0px solid;
  break-inside: avoid;
  padding: 12px 12px 12px 0;
}

@media (min-width: 960px) {
  #about li[data-id] {
    cursor: default;
    transition: opacity 0.3s;
  }

  #about li[data-id].dim {
    opacity: 0.1;
  }
}

#about ul.faculty span {
  font-variant: small-caps;
  opacity: 0.75;
  text-transform: lowercase;
}

#about h3 {
  align-items: center;
  display: flex;
  font-variant: small-caps;
  opacity: 0.75;
  text-transform: lowercase;
}

#about h4 {
  margin-top: 12px;
}

.legend {
  font-weight: normal;
  margin-right: 0.1em;
}

.legend.students {
  color: var(--primary-100);
}

.legend.faculty {
  color: var(--secondary-100);
}

.guests-container {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  margin: 4em 0;
  padding: 2em;
}

.routes-title {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100lvh;
  justify-content: center;
  text-shadow: 0 0 0.1em var(--neutral-50);
}

@media (max-width: 640px) {
  .routes-title br {
    display: none;
  }
}
