@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap");

html,
body {
  background: var(--neutral-50);
  font-size: 100%;
  overflow-x: hidden;
}

body {
  color: var(--neutral-900);
  font-family: Syne, Helvetica, sans-serif;
  font-weight: 400;
  transition: opacity 1s;
  line-height: 1.25;
}

body.initialized {
  opacity: 1 !important;
}

h1 {
  font-size: calc(2.5rem * 2);
  font-weight: 700;
}

h2 {
  font-size: calc(2rem * 2);
  font-weight: 700;
}

h3 {
  font-size: calc(1.375rem * 2);
  font-weight: 700;
}

h4 {
  /* font-size: calc(1.125rem * 2); */
  font-size: calc(0.875rem * 2);
  font-weight: 700;
}

h5 {
  font-size: calc(1rem * 2);
  font-weight: 700;
}

h6 {
  font-size: calc(0.875rem * 2);
  font-weight: 700;
}

@media (max-width: 960px) {
  h1 {
    font-size: calc(2.5rem * 1);
  }

  h2 {
    font-size: calc(2rem * 1);
  }

  h3 {
    font-size: calc(1.375rem * 1);
  }

  h4 {
    /* font-size: calc(1.125rem * 2); */
    font-size: calc(0.875rem * 1);
  }

  h5 {
    font-size: calc(1rem * 1);
  }

  h6 {
    font-size: calc(0.875rem * 1);
  }
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.75;
}

a,
a:visited {
  color: #00bfb4;
}

a:not(.logo):hover,
a:not(.logo):focus,
a:not(.logo):active {
  opacity: 0.75;
}

blockquote {
  border-left: 2px solid var(--neutral-60);
  margin: 0;
  padding: 1em;
  text-align: left;
}

[data-layout="home"] strong {
  font-weight: inherit;
}

[data-layout="story"] {
  background: var(--neutral-900);
  color: var(--neutral-50);
}
