/* Modified from: https://simplegrid.io/ */

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.justify {
  text-align: justify;
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* width: 96%; */
  width: 100%;
  z-index: 1;
}

.row {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  display: flex;
  flex-direction: column;
  gap: 2%;
  min-height: 1px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  /* width: 96%; */
  width: 100%;
}

.story-container > *:not([class^="col-"], [class^="row"]) {
  margin-left: auto;
  margin-right: auto;
  /* width: 96%; */
  width: 100%;
}

.hidden-sm {
  display: none;
}

@media (min-width: 33.75em) {
  /* 540px */
  /* .container {
    width: 80%;
  } */
}

@media (min-width: 64em) {
  /* 1240px */
  .col-1 {
    /* width: 4.33%; */
    width: calc(100% / 12 * 1);
  }

  .col-2 {
    /* width: 12.66%; */
    width: calc(100% / 12 * 2);
  }

  .col-3 {
    /* width: 21%; */
    width: calc(100% / 12 * 3);
  }

  .col-4 {
    /* width: 29.33%; */
    width: calc(100% / 12 * 4);
  }

  .col-5 {
    /* width: 37.66%; */
    width: calc(100% / 12 * 5);
  }

  .col-6 {
    /* width: 46%; */
    width: calc(100% / 12 * 6);
  }

  .col-7 {
    /* width: 54.33%; */
    width: calc(100% / 12 * 7);
  }

  .story-container > *:not([class^="col-"], [class^="row"]) {
    /* width: 62.66%; */
    width: calc(100% / 12 * 8);
  }

  .col-8 {
    /* width: 62.66%; */
    width: calc(100% / 12 * 8);
  }

  .col-9 {
    /* width: 71%; */
    width: calc(100% / 12 * 9);
  }

  .col-10 {
    /* width: 79.33%; */
    width: calc(100% / 12 * 10);
  }

  .col-11 {
    /* width: 87.66%; */
    width: calc(100% / 12 * 11);
  }

  .col-12 {
    /* width: 96%; */
    width: calc(100% / 12 * 12);
  }

  .hidden-sm {
    display: block;
  }
}

@media (min-width: 80em) {
  /* 1280px */
  .container {
    max-width: 1280px;
    /* width: 90%; */
    /* max-width: 60rem; */
  }
}
