nav {
  position: relative;
  z-index: 2;
}

nav .container {
  /* border-bottom: 1px solid var(--neutral-200); */
}

[data-layout="home"] nav {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 64em) {
  [data-layout="home"] nav {
    position: fixed;
  }
}

[data-layout="home"] nav::before {
  background: linear-gradient(var(--neutral-50), transparent);
  content: "";
  height: 33.333vh;
  height: 33.333lvh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 1;
}

.nav-items {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav .sections {
  display: flex;
  gap: 32px;
}

nav .sections a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

[data-layout="story"] nav {
  background: var(--neutral-50);
}
