.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  background: transparent;
}

.mapboxgl-ctrl-attrib a {
  color: rgba(255, 255, 255, 0.75);
}

#scrolly {
  position: relative;
}

#foreground {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

#background {
  height: 100vh;
  height: 100lvh;
  left: 0;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 0;
}

#background p {
  color: #fff;
  font-size: 8rem;
  font-weight: 900;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh !important;
  min-height: 100lvh !important;
  opacity: 0.2;
  transition: all 0.4s;
}

[data-layout="story"] .step {
  height: initial;
  min-height: initial !important;
  opacity: 1;
}

.step.is-active {
  opacity: 1;
}

.step .content {
  backdrop-filter: blur(8px);
  margin: 0;
}

@media print {
  .step {
    opacity: 1;
  }
}
