[data-layout="story"] #stories {
  background: var(--neutral-100);
  color: var(--neutral-900);
}

#stories {
  position: relative;
  z-index: 1;
}

#stories h3,
#stories .info p {
  margin: 0;
}

.story {
  display: flex;
}

#stories .info {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  padding: 2em;
}

#stories ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

#stories a {
  color: var(--neutral-900);
  text-decoration: none;
}

#stories a:hover {
  opacity: 1;
}

#stories a .thumbnail {
  align-items: center;
  display: flex;
  width: 40%;
}

#stories a .info {
  width: 60%;
}

#stories a img,
#stories a video {
  aspect-ratio: 1/1;
  max-width: 100%;
  object-fit: cover;
}

#stories a:hover img {
  box-shadow: 0 0 0 4px var(--secondary-100);
}

[data-layout="story"] #stories {
  padding: 6em 0;
}

[data-layout="story"] #stories > .row {
  margin-bottom: 48px;
  margin-top: 48px;
}

[data-layout="story"] #stories header {
  display: none;
}

[data-layout="story"] iframe {
  aspect-ratio: 16/9;
  display: flex;
  height: auto;
  margin: 0 auto;
  width: inherit;
}

[data-layout="story"] header iframe {
  width: 100%;
}

[data-layout="story"] aside {
  background: var(--neutral-100);
}

.backdrop {
  background: var(--neutral-50);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

@media (max-width: 640px) {
  .story {
    flex-direction: column;
    margin: 96px 0;
  }

  #stories a .thumbnail {
    width: 100%;
  }

  #stories a .info {
    padding: 2em 0;
    width: 100%;
  }
}
