[data-layout="story"] #stories {
  background: var(--neutral-100);
  color: var(--neutral-900);
}

#stories {
  position: relative;
  z-index: 1;
}

#stories ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

#stories a:hover {
  opacity: 1;
}

#stories a img {
  aspect-ratio: 1/1;
  max-width: 100%;
  object-fit: cover;
}

#stories a:hover {
  opacity: 1;
}

#stories a:hover img {
  box-shadow: 0 0 0 4px var(--secondary-100);
}
