<!DOCTYPE html>

<!-- prettier-ignore  -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet"/>
    <link href="assets/css/style.css" rel="stylesheet"/>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js" defer></script>
    <script src="https://unpkg.com/scrollama" defer></script>
    <script src="assets/js/script.js" defer></script>
  </head>
  <body data-layout="{{ page.layout }}">

    {% include nav.html %}

    <!-- <div class="container">
      <div class="row">
        <div class="col-3">
          This content will take up 3/12 (or 1/4) of the container
        </div>
        <div class="col-3">
          This content will take up 3/12 (or 1/4) of the container
        </div>
        <div class="col-6">
          This content will take up 6/12 (or 1/2) of the container
        </div>
      </div>
    </div> -->

    <div id="scrolly-container">
      <div id="scrolly">
        <figure id="background">
          <div id="map"></div>
        </figure>

        <div id="foreground" class="container">

          <div class="row">
            <div class="step col-6" data-step="0">
              <header class="row">
                <h1>{{ page.title }}</h1>
                <p>Lorem ipsum dolor sit amet consectetur</p>
              </header>
            </div>
          </div>

          <div class="row">
            <div class="step col-6" data-step="1">
              <p>Climate change. Pandemics. Cultural conflicts. Social inequities.</p>
            </div>
          </div>

          <div class="row">
            <div class="step col-6" data-step="2">
              <p>The most pressing issues of our time have global roots & local impacts</p>
            </div>
          </div>

          <div class="row">
            <div class="step col-6" data-step="3">
              <p>They don’t respect borders. They require collaboration</p>
            </div>
          </div>

          <div class="row">
            <div class="step col-6" data-step="4">
              <p>That is why the <strong>University of Miami</strong> and the <strong>University of Navarra</strong> came together to cover global issues in Miami</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% include stories.html %}
    
    {% include about.html %}
    
    {% include footer.html %}

    <div class="noise"></div>
  </body>
</html>
