<!DOCTYPE html>

<!-- prettier-ignore  -->
<html lang="en" style="background: #1c1d26; ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css"/>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    {% include participants-routes.html %}

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js" defer></script>
    <script src="https://unpkg.com/scrollama" defer></script>
    <script src="assets/js/app.js" defer></script>
  </head>
  <body data-layout="{{ page.layout }}" style="opacity: 0">

    {% include nav.html %}

    <div id="scrolly-container">
      <div id="scrolly">
        <figure id="background">
          <div id="map"></div>
        </figure>

        <div id="foreground" class="container">

          <div class="row">
            <div class="col-3"></div>
            <div class="col-6 step" data-step="cover">
              <header>
                <h1>{{ page.title }}</h1>
                <p>
                  From gentrification and immigrant incorporation to climate change,
                  we delve deep into some of the most pressing issues affecting residents of South Miami.
                </p>
              </header>
            </div>
          </div>

          {% include stories.html %}

          {% include about.html %}

        </div>
      </div>
    </div>

    <div class="noise"></div>
  </body>
</html>
