<!DOCTYPE html>

<!-- prettier-ignore  -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet"/>
    <link href="assets/css/style.css" rel="stylesheet"/>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js" defer></script>
    <script src="https://unpkg.com/scrollama" defer></script>
    <script src="assets/js/script.js" defer></script>
  </head>
  <body>

    {% include nav.html %}

    <h1>{{ page.title }}</h1>

    <main id="scrolly-container">
      <section id="scrolly">
        <figure id="background">
          <div id="map"></div>
        </figure>

        <article id="foreground">
          <div class="step" data-step="1">
            
          </div>
          <div class="step" data-step="2">
            
          </div>
          <div class="step" data-step="3">
            
          </div>
          <div class="step" data-step="4">
            
          </div>
        </article>
      </section>
    </main>

    {% include intro.html %}
    
    {{ content }}
    
    {% include stories.html %}
    
    {% include about.html %}
    
    {% include footer.html %}
  </body>
</html>
