<!DOCTYPE html>

<!-- prettier-ignore -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | markdownify | strip_html }}</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  </head>
  <body data-layout="{{ page.layout }}">

    <div class="backdrop"></div>

    {% include nav.html %}

    <article>
      <header>
        <div class="container story-container">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <h1>
                {{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}
              </h1>
              <p class="lede center">
                {{ page.lede | markdownify | remove: '<p>' | remove: '</p>' }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <figure>
                {% if page.cover contains ".mp4" %}

                  <video autoplay muted loop playsinline>
                    <source
                      src="{{ page.cover }}"
                      type="video/mp4"
                    />
                  </video>

                {% elsif page.cover contains "youtube" %}

                  <iframe src="{{ page.cover | replace: 'watch?v=', 'embed/' }}?color=white&modestbranding=1&rel=0" class="youtube" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                {% else %}

                  <img src="{{ page.cover }}" alt="{{ page.alt }}" />

                {% endif %}

                <figcaption>{{ page.caption }}</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8 date center">
              <p>Published on {{ page.date | date: '%B %-d, %Y' }}</p>
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8 authors center">
              <p>By {{ page.authors }}</p>
            </div>
            <div class="col-2"></div>
          </div>
          
        </div>
      </header>

      <div class="container story-container">
        {{ content }}
        
        <div class="spacer"></div>
      </div>

    </article>

    <aside>
      <div class="container">
        {% include stories.html %}
      </div>
    </aside>

    {% include footer.html %}
    
  </body>
</html>
