<!DOCTYPE html>

<!-- prettier-ignore -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | markdownify | strip_html }}</title>
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body data-layout="{{ page.layout }}">
    {% include nav.html %}

    <article>
      <header>
        <div class="container">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <h1>
                {{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}
              </h1>
              {{ page.lede | markdownify }}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <figure>
                <img src="{{ page.cover }}" alt="{{ page.alt }}" />
                <figcaption>Lorem ipsum dolor site amet consectetur</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p>{{ page.date | date: '%B %-d, %Y' }}</p>
            </div>
            <div class="col-6">
              <p>{{ page.authors }}</p>
            </div>
          </div>
          
        </div>
      </header>

      <div class="container story-container">
        {{ content }}
      </div>

    </article>

    <aside>{% include stories.html %}</aside>

    {% include footer.html %}
  </body>
</html>
