<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    {% include nav.html %}

    <h1>{{ page.title }}</h1>

    <p>{{ page.lede }}</p>

    <p>
      {% raw %}{{ page.date | date: "%B" }} {{ page.date | date: "%d" | plus:'0'
      }}, {{ page.date | date: "%Y" }} {% endraw %}
    </p>

    <img src="{{ page.cover }}" alt="{{ page.alt }}" />

    {{ content }}

    <br />

    {% include footer.html %}
  </body>
</html>
